# –ù–æ—É—Ç–±—É–∫ –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á —É—Ä–æ–∫–∞ 2.2 - Pandas –∑–∞–±—É–¥—å –ø—Ä–æ —Ü–∏–∫–ª—ã!

In [65]:
import pandas as pd

## –°—Ç–µ–ø—ã 4Ô∏è‚É£ –∏ 7Ô∏è‚É£

In [66]:
# –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è —à–∞–≥–æ–≤ 4,7
path = '../data/driver_info.csv'
driver_info = pd.read_csv(path)

In [67]:
driver_info.head(3)

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,27,9.0,865,19.0,l17437965W,1,2019-4-2
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19
2,59,7.8,947,4.0,g11098715c,0,2021-1-15

In [68]:
# YOUR CODE HERE

print(driver_info['age'].median())
print(driver_info['user_rating'].min())
print(driver_info['user_time_accident'].value_counts().idxmax())
print(len(driver_info))
print(driver_info['sex'].value_counts().idxmax())

33.0
5.8
6.0
15153
0

In [69]:
driver_info[(driver_info['user_time_accident'].between(4.5, 9, inclusive='right')) & (driver_info['age'] < 40)]['user_id'].nunique()

2478

In [70]:
driver_info[driver_info['age'] < 40]['user_time_accident'].value_counts(bins = [4.5, 9.0])

(4.499, 9.0]    2478
Name: count, dtype: int64

## –°—Ç–µ–ø 6Ô∏è‚É£: üß†–°–ª–æ–∂–Ω–∞—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è

–ó–∞–¥–∞—á–∞:
- –°–æ–µ–¥–∏–Ω–∏—Ç—å –¥–≤–µ —Ç–∞–±–ª–∏—Ü—ã –≤–º–µ—Å—Ç–µ.
- –û—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ `rating` > 4 –∏ `stop_times` —Ä–∞–≤–µ–Ω 2, 3 –∏–ª–∏ 5.
- –í –ø–æ–ª—É—á–∏–≤—à–µ–º—Å—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –æ—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ `car_id` –Ω–µ –≤—Ö–æ–¥–∏—Ç –≤ —Å–ø–∏—Å–æ–∫ `car_black_list` –∏ `user_id` –≤—Ö–æ–¥–∏—Ç –≤ —Å–ø–∏—Å–æ–∫ `user_white_list`.
- –û—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ `index` —á—ë—Ç–Ω–æ–µ —á–∏—Å–ª–æ (–¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø—Ä–æ–∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω —Ü–µ–ª—ã–º–∏ —á–∏—Å–ª–∞–º–∏).
- –ò—Ç–æ–≥–æ–≤—ã–π –æ–±—ä–µ–∫—Ç `pd.DataFrame()` –ø–æ–º–µ—Å—Ç–∏—Ç—å –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `result`.

In [71]:
df1 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df1.csv', index_col=0)
df2 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df2.csv', index_col=0)

# –£—á—Ç–∏—Ç–µ, —á—Ç–æ user_white_list –∏ car_black_list –≤ —Ç–µ—Å—Ç–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–µ –±—É–¥—É—Ç –∏–º–µ—Ç—å –¥—Ä—É–≥—É—é –¥–ª–∏–Ω—É –∏ –¥—Ä—É–≥–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è
user_white_list = ['g10995906g', 'H90312511Q', 'C27138482L', 'H22518078t', 'n17438464n', 'F10525768e', 's15596151o', 'i18954748S', 'E84048392U', 'E69893354s']
car_black_list = ['l-4285389z', 'n79502261g', 'N-1839822D']

In [72]:
# YOUR CODE HERE

df = pd.concat([df1, df2], axis=0)
mask = (df['rating'] > 4) & (df['stop_times'].isin([2, 3, 5]))
df = df[mask]
df = df.loc[~(df['car_id'].isin(car_black_list)) & (df['user_id'].isin(user_white_list)), :]
result = df.loc[df.index % 2 == 0, :]
result

        user_id      car_id  rating  stop_times
20   C27138482L  M-1786506l    7.42           2
190  F10525768e  I98930031r    4.21           2
248  s15596151o  u-2070489i    5.39           2

In [73]:
# –í ans —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Å–≤–æ–µ–≥–æ —Ä–µ—à–µ–Ω–∏—è, —Å—Ä–∞–≤–Ω–∏—Ç–µ—Å—å —Å –Ω–∏–º.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_6_ans.csv', index_col=0)
ans

        user_id      car_id  rating  stop_times
20   C27138482L  M-1786506l    7.42           2
190  F10525768e  I98930031r    4.21           2
248  s15596151o  u-2070489i    5.39           2

## –°—Ç–µ–ø 8Ô∏è‚É£: üß† –ò–∑–º–µ–Ω–µ–Ω–∏–µ –∏ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è `DataFrame` –≤ Pandas
–ó–∞–¥–∞—á–∞:

- –°–æ–∑–¥–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `tripple_accident` –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `user_time_accident`,  —É–º–Ω–æ–∂–µ–Ω–Ω–æ–≥–æ –Ω–∞ 3.
- –°–æ–∑–¥–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `rides_on_rating` –¥–µ–ª–µ–Ω–∏–µ–º —Å—Ç–æ–ª–±—Ü–∞ `user_rides` –Ω–∞ `user_rating`.
- –û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö `user_time_accident` –±–æ–ª—å—à–µ 25 (–∏—Å–ø–æ–ª—å–∑—É–µ–º —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—é).
- –û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö `age` –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –ø–æ–ª—É—á–µ–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–º –ø—É–Ω–∫—Ç–µ.

In [93]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8.csv')

In [94]:
df.head(3)

      user_id  user_rating  age  user_rides  user_time_accident
0  f59331553m          7.7   29          99                 4.0
1  H50364497o          7.8   26         121                 0.0
2  A14869258v          7.3   34         557                 2.0

In [95]:
df.columns

Index(['user_id', 'user_rating', 'age', 'user_rides', 'user_time_accident'], dtype='object')

In [96]:
# YOUR CODE HERE
df['tripple_accident'] = df['user_time_accident'] * 3
df['rides_on_rating'] = df['user_rides'] / df['user_rating']
df = df.query('user_time_accident > 25')
# age_mean = df['age'].mean()
df = df[df['age'] > df['age'].mean()]
df

,user_id,user_rating,age,user_rides,user_time_accident,tripple_accident,rides_on_rating
3,E10711310m,8.4,33,322,39.0,117.0,38.333333
64,t25217963K,8.0,30,101,72.0,216.0,12.625000

In [97]:
# –í ans —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Å–≤–æ–µ–≥–æ —Ä–µ—à–µ–Ω–∏—è, —Å—Ä–∞–≤–Ω–∏—Ç–µ—Å—å —Å –Ω–∏–º.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8_ans.csv', index_col=0)
ans

,user_id,user_rating,age,user_rides,user_time_accident,tripple_accident,rides_on_rating
3,E10711310m,8.4,33,322,39.0,117.0,38.333333
64,t25217963K,8.0,30,101,72.0,216.0,12.625000

## –°—Ç–µ–ø üîü: üß† –ó–∞–¥–∞—á–∞ –Ω–∞ —Ä–∞–±–æ—Ç—É —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏
–ó–∞–¥–∞—á–∞:

- –î–æ–±–∞–≤—å—Ç–µ –Ω–æ–≤—É—é —Å—Ç—Ä–æ–∫—É (—Å –∏–Ω–¥–µ–∫—Å–æ–º `new_index:(int / str)` –∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ `new_data: list`).
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –∏–∑ —Å–ø–∏—Å–∫–∞ `del_index_list: list`.
- –£–≤–µ–ª–∏—á—å—Ç–µ –∑–Ω–∞—á–µ–Ω–∏–µ `destroy_degree` –Ω–∞ 1 –≤ —Å—Ç—Ä–æ–∫–µ —Å –∏–Ω–¥–µ–∫—Å–æ–º —Ä–∞–≤–Ω—ã–º `index`. –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è `index` —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–Ω–¥–µ–∫—Å —Å—Ç—Ä–æ–∫–∏ –ò–õ–ò —á–∏—Å–ª–æ (–∏–Ω–¥–µ–∫—Å).
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `fix_date`, —Ç.–∫. –Ω–µ —Å—Ç–æ–∏—Ç —Å–µ–π—á–∞—Å –¥—É–º–∞—Ç—å –æ –≤—Ä–µ–º–µ–Ω–∏.
- –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü `efficient`, –∫–æ—Ç–æ—Ä—ã–π —Ä–∞–≤–µ–Ω `destroy_degree` –¥–µ–ª–µ–Ω–Ω—ã–π –Ω–∞ `work_duration`.
- –í–æ–∑–≤–µ–¥–∏—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `work_duration` –≤ –∫–≤–∞–¥—Ä–∞—Ç.
- –ü–µ—Ä–µ–∏–º–µ–Ω—É–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `work_duration` –≤ `work_duration_square`.
- –£–¥–∞–ª–∏—Ç–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –ø–æ —Å—Ç–æ–ª–±—Ü—É `car_id`.

In [110]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_10.csv')

# –£—á—Ç–∏—Ç–µ, —á—Ç–æ new_index, new_data, del_index_list, index –≤ —Ç–µ—Å—Ç–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–µ –±—É–¥—É—Ç –∏–º–µ—Ç—å –¥—Ä—É–≥–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è
new_index = 50
new_data = ['new_car_id', 'new_worker_id', '2019-11-11 4:44','refuel_check', 3.5, 10]
del_index_list = [41, 18, 33, 7, 46]
index = 22

df.head(3)

,car_id,worker_id,fix_date,work_type,destroy_degree,work_duration
0,C-8860661H,BM,2020-1-5 13:17,reparking,1.0,28
1,Z76775340d,IL,2020-5-25 5:26,repair,8.4,48
2,r12485993Y,HN,2020-10-15 1:11,reparking,1.0,21

In [111]:
# YOUR CODE HERE
df.loc[new_index, :] = new_data
df = df.drop(del_index_list, axis=0)
df.loc[index, 'destroy_degree'] += 1
df = df.drop(columns=['fix_date'])
df['efficient'] = df['destroy_degree'] / df['work_duration']
df['work_duration'] = df['work_duration'].apply(lambda x: int(x ** 2))
df = df.rename(columns={'work_duration': 'work_duration_square'})
df = df.drop_duplicates(subset=['car_id'])
df.head()

,car_id,worker_id,work_type,destroy_degree,work_duration_square,efficient
0,C-8860661H,BM,reparking,1.0,784,0.035714
1,Z76775340d,IL,repair,8.4,2304,0.175000
2,r12485993Y,HN,reparking,1.0,441,0.047619
3,Z-1382353b,VX,repair,5.7,169,0.438462
4,p14707024B,JP,refuel_check,1.0,441,0.047619

In [109]:
# –í ans —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Å–≤–æ–µ–≥–æ —Ä–µ—à–µ–Ω–∏—è, —Å—Ä–∞–≤–Ω–∏—Ç–µ—Å—å —Å –Ω–∏–º.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_10_ans.csv', index_col=0)
ans.head()

,car_id,worker_id,work_type,destroy_degree,work_duration_square,efficient
0,C-8860661H,BM,reparking,1.0,784,0.035714
1,Z76775340d,IL,repair,8.4,2304,0.175000
2,r12485993Y,HN,reparking,1.0,441,0.047619
3,Z-1382353b,VX,repair,5.7,169,0.438462
4,p14707024B,JP,refuel_check,1.0,441,0.047619

## –°—Ç–µ–ø 1Ô∏è‚É£1Ô∏è‚É£: üß† –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –∏ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è
–ó–∞–¥–∞—á–∞:

- –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Å—Ç—Ä–æ–∫–∏ —Å–Ω–∞—á–∞–ª–∞ –ø–æ —É–±—ã–≤–∞–Ω–∏—è 1-–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –∏–∑ —Å–ø–∏—Å–∫–∞ `sort_by_list`, –∑–∞—Ç–µ–º –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é 2-–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –∏–∑ —Å–ø–∏—Å–∫–∞.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç–æ–ª–±—Ü—ã –∏–∑ —Å–ø–∏—Å–∫–∞ `cols2drop` —Å —É—á–µ—Ç–æ–º —Ç–æ–≥–æ, —á—Ç–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ –º–æ–∂–µ—Ç –Ω–µ –±—ã—Ç—å –≤ df.
- –°–¥–µ–ª–∞–π—Ç–µ –ø–æ—Ä—è–¥–æ–∫ —Å—Ç–æ–ª–±—Ü–æ–≤ –≤ `df` –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–∏ —Å –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π `columns_order_list: List[str]`.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö `car_rating` < `critical_car_rating`.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ `riders` –±–æ–ª—å—à–µ `10_000`, –∏–ª–∏ —Ç–∏–ø –º–∞—à–∏–Ω—ã `car_type` –æ—Ç–Ω–æ—Å–∏—Ç—Å—è –ª–∏–±–æ –∫ `standart`, –ª–∏–±–æ `economy`.

In [120]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.11.csv')

# –£—á—Ç–∏—Ç–µ, —á—Ç–æ sort_by_list, cols2drop, columns_order_list –≤ —Ç–µ—Å—Ç–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–µ –±—É–¥—É—Ç –∏–º–µ—Ç—å –¥—Ä—É–≥–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è.
sort_by_list = ['car_rating', 'riders']
cols2drop = ['random_name_1', 'target_reg', 'target_class', 'random_name_2']
columns_order_list = ['model', 'car_type', 'car_id', 'car_rating', 'year_to_start', 'year_to_work', 'riders', 'fuel_type']
critical_car_rating = 2

df.head(3)

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,s-9164758n,Renault Kaptur,standart,petrol,3.76,2012,31867,2018,35.622685,engine_overheat
1,I-7194770x,Smart ForTwo,economy,petrol,4.08,2014,55325,2015,30.378960,electro_bug
2,k63904133P,Smart ForFour,economy,petrol,4.54,2015,76585,2018,64.757579,another_bug

In [121]:
# YOUR CODE HERE

df = df.sort_values(by=[sort_by_list[0], sort_by_list[1]], ascending=[False, True])
# df = df.drop(columns=[col for col in cols2drop if col in df.columns])
df = df.drop(cols2drop, errors='ignore')
df = df[columns_order_list]
df = df.drop(index=df[df['car_rating'] < critical_car_rating].index)
df = df.drop(index=df[(df['riders'] > 10_000) | (df['car_type'].isin(['standart', 'economy']))].index)
df

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
4,Mini Cooper,business,i-4390733F,4.96,2012,2018,1007,petrol
295,Mini Cooper,business,b34607341j,4.04,2011,2018,2740,petrol

In [122]:
# –í ans —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Å–≤–æ–µ–≥–æ —Ä–µ—à–µ–Ω–∏—è, —Å—Ä–∞–≤–Ω–∏—Ç–µ—Å—å —Å –Ω–∏–º.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_11_ans.csv', index_col=0)
ans

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
4,Mini Cooper,business,i-4390733F,4.96,2012,2018,1007,petrol
295,Mini Cooper,business,b34607341j,4.04,2011,2018,2740,petrol

## –°—Ç–µ–ø 1Ô∏è‚É£2Ô∏è‚É£: üß† –ó–∞–¥–∞—á–∞ –Ω–∞ —Ñ—É–Ω–∫—Ü–∏–∏
–ó–∞–¥–∞—á–∞
- –ó–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `mean_rating` —Å—Ä–µ–¥–Ω–µ–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É `car_rating`.
- –£–≤–µ–ª–∏—á—å—Ç–µ –Ω–∞ –æ–¥–∏–Ω –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö `car_rating` –∏ `year_to_work`.
- –û—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –ª—é–±—ã–º –∏–∑ —É–¥–æ–±–Ω—ã—Ö —Å–ø–æ—Å–æ–±–æ–≤ –º–∞—à–∏–Ω—ã —Å —Ä–µ–π—Ç–∏–Ω–≥–æ–º –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ –æ—Ç —Å—Ç–æ–ª–±—Ü–∞ `car_rating` (–∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `mean_rating`).
- –ü—Ä–µ–æ–±—Ä–∞–∑—É–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `year_to_work` —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º: –µ—Å–ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ –º–µ–Ω—å—à–µ `2017`, —Ç–æ –ø—Ä–∏–±–∞–≤—å—Ç–µ `2`, –∏–Ω–∞—á–µ —Ä–∞–∑–¥–µ–ª–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–∞—Ü–µ–ª–æ –Ω–∞ `5`.
- –ü–µ—Ä–µ–∏–º–µ–Ω—É–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `year_to_start` –≤ `new_year_to_start` –∏ —É–¥–∞–ª–∏—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `fuel_type`.
- –ö–æ –≤—Å–µ–º –∑–Ω–∞—á–µ–Ω–∏—è–º –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `car_type` –¥–æ–±–∞–≤—å—Ç–µ –ø—Ä–∏—Å—Ç–∞–≤–∫—É `super_` (`standart` -> `super_standart`).
- –†–µ—à–µ–Ω–∏–µ –∑–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `result`.

In [133]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12.csv', index_col=0)
df.head(3)

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,o-1588203t,VW Polo VI,economy,petrol,4.04,2014,61872,2015,46.175419,engine_check
1,B-1760099A,Renault Kaptur,standart,petrol,4.36,2015,95768,2020,30.585652,engine_overheat
2,u-2045579o,Renault Kaptur,standart,petrol,5.94,2012,21114,2020,68.091881,engine_ignition

In [134]:
# YOUR CODE HERE
mean_rating = df['car_rating'].mean()
df[['car_rating', 'year_to_work']] += 1
df = df[df['car_rating'] > mean_rating]
df['year_to_work'] = df['year_to_work'].apply(lambda x: x + 2 if x < 2017 else x // 5)
df = df.rename(columns={'year_to_start': 'new_year_to_start'}).drop('fuel_type', axis=1)
df['car_type'] = df['car_type'].apply(lambda x: 'super_' + x)
result = df
result

,car_id,model,car_type,car_rating,new_year_to_start,riders,year_to_work,target_reg,target_class
0,o-1588203t,VW Polo VI,super_economy,5.04,2014,61872,2018,46.175419,engine_check
1,B-1760099A,Renault Kaptur,super_standart,5.36,2015,95768,404,30.585652,engine_overheat
2,u-2045579o,Renault Kaptur,super_standart,6.94,2012,21114,404,68.091881,engine_ignition
3,V-4730687q,VW Tiguan,super_economy,5.10,2016,95799,403,39.808397,break_bug
4,K23027223e,Smart ForTwo,super_economy,4.82,2017,127971,404,37.024779,electro_bug
...,...,...,...,...,...,...,...,...,...
95,i22101695X,Fiat 500,super_business,6.16,2015,80937,404,54.714139,engine_check
96,a22370652k,Kia Rio,super_economy,5.56,2013,46108,404,31.320599,break_bug
97,H-1952766q,Tesla Model 3,super_premium,5.92,2014,58631,404,50.306346,gear_stick
98,r13675823Y,VW Polo VI,super_economy,5.36,2015,84108,403,34.150655,engine_fuel
99,I-1117298r,VW Tiguan,super_economy,5.54,2015,82807,404,111.275852,another_bug

In [135]:
# –í ans —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Å–≤–æ–µ–≥–æ —Ä–µ—à–µ–Ω–∏—è, —Å—Ä–∞–≤–Ω–∏—Ç–µ—Å—å —Å –Ω–∏–º.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12_ans.csv', index_col=0)
ans

,car_id,model,car_type,car_rating,new_year_to_start,riders,year_to_work,target_reg,target_class
0,o-1588203t,VW Polo VI,super_economy,5.04,2014,61872,2018,46.175419,engine_check
1,B-1760099A,Renault Kaptur,super_standart,5.36,2015,95768,404,30.585652,engine_overheat
2,u-2045579o,Renault Kaptur,super_standart,6.94,2012,21114,404,68.091881,engine_ignition
3,V-4730687q,VW Tiguan,super_economy,5.10,2016,95799,403,39.808397,break_bug
4,K23027223e,Smart ForTwo,super_economy,4.82,2017,127971,404,37.024779,electro_bug
...,...,...,...,...,...,...,...,...,...
95,i22101695X,Fiat 500,super_business,6.16,2015,80937,404,54.714139,engine_check
96,a22370652k,Kia Rio,super_economy,5.56,2013,46108,404,31.320599,break_bug
97,H-1952766q,Tesla Model 3,super_premium,5.92,2014,58631,404,50.306346,gear_stick
98,r13675823Y,VW Polo VI,super_economy,5.36,2015,84108,403,34.150655,engine_fuel
99,I-1117298r,VW Tiguan,super_economy,5.54,2015,82807,404,111.275852,another_bug

## –°—Ç–µ–ø 1Ô∏è‚É£3Ô∏è‚É£: üß† –†–∞–±–æ—Ç–∞ —Å —Ñ—É–Ω–∫—Ü–∏—è–º–∏
–ó–∞–¥–∞—á–∞
- –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `flag`, –∫–æ—Ç–æ—Ä—ã–π —Ä–∞–≤–µ–Ω `'good_line'`, –µ—Å–ª–∏ `rating > 5` and `speed_max < 100`. `'bad_line'`, –µ—Å–ª–∏  `rating > 5` and `speed_max > 100`. `'undefined'` –≤ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö —Å–ª—É—á–∞—è—Ö.
- –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `speed_check`, –∫–æ—Ç–æ—Ä—ã–π –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è `'avg_more'`, –µ—Å–ª–∏ `distance/ride_duration > speed_avg`, –∏–Ω–∞—á–µ `'avg_less'`.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç–æ–ª–±—Ü—ã –∏–∑ —Å–ø–∏—Å–∫–∞ `cols2drop`.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö `car_id` –∏–º–µ–µ—Ç –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (—Ç–æ–ª—å–∫–æ NA —É–¥–∞–ª—è–µ–º).
- –†–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `result`.

In [154]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_13.csv')

# –£—á—Ç–∏—Ç–µ, —á—Ç–æ cols2drop –≤ —Ç–µ—Å—Ç–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–µ –±—É–¥–µ—Ç –∏–º–µ—Ç—å –¥—Ä—É–≥–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è.
cols2drop = ['ride_cost', 'stop_times', 'user_ride_quality']

df.head(3)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,Q57343968C,i-6289789v,F1u,2020-03-02,1.79,35,275,87,125.463335,0,2930.798145,0,-11.132653,-8.683
1,N39662076X,F17991047v,J1A,2020-03-16,4.36,16,202,36,63.275887,0,472.946034,0,-28.508294,-37.196
2,R39462885w,l36861534V,m1v,2020-01-20,2.20,5,60,47,73.000000,0,283.626484,0,-0.203089,3.378

In [ ]:
# YOUR CODE HERE

def get_line(row):
    if row['rating'] > 5:
        if row['speed_max'] < 100:
            return 'good_line' 
        elif row['speed_max'] > 100:
            return 'bad_line'
    else:
        return 'undefined'

# –†–∞–±–æ—Ç–∞–µ—Ç –¥–æ–ª—å—à–µ
df['flag'] = df.apply(get_line, axis=1)

# –†–∞–±–æ—Ç–∞–µ—Ç –±—ã—Å—Ç—Ä–µ–µ
df['flag'] = 'undefined'
mask_good = (df['rating'] > 5) & (df['speed_max'] < 100)
mask_bad = (df['rating'] > 5) & (df['speed_max'] > 100)
df.loc[mask_good, 'flag'] = 'good_line'
df.loc[mask_bad, 'flag'] = 'bad_line'

df['speed_check'] = df.apply(lambda x: 'avg_more' if ((x['distance'] / x['ride_duration']) > x['speed_avg']) else 'avg_less', axis=1)
df = df.drop(columns=cols2drop)
df = df.dropna(subset=['car_id'], axis=0)
result = df
result.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,speed_avg,speed_max,distance,refueling,deviation_normal,flag,speed_check
0,Q57343968C,i-6289789v,F1u,2020-03-02,1.79,35,87,125.463335,2930.798145,0,-8.683,undefined,avg_less
1,N39662076X,F17991047v,J1A,2020-03-16,4.36,16,36,63.275887,472.946034,0,-37.196,undefined,avg_less
2,R39462885w,l36861534V,m1v,2020-01-20,2.20,5,47,73.000000,283.626484,0,3.378,undefined,avg_more
3,q32765597m,R16189354h,v1q,2020-02-24,2.82,10,31,76.838507,100.743738,0,14.758,undefined,avg_less
4,n30214850g,N-1839822D,p1h,2020-01-31,3.54,17,26,53.000000,268.451947,0,21.179,undefined,avg_less

In [141]:
# –í ans —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Å–≤–æ–µ–≥–æ —Ä–µ—à–µ–Ω–∏—è, —Å—Ä–∞–≤–Ω–∏—Ç–µ—Å—å —Å –Ω–∏–º.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_13_ans.csv', index_col=0)
ans.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,speed_avg,speed_max,distance,refueling,deviation_normal,flag,speed_check
0,Q57343968C,i-6289789v,F1u,2020-03-02,1.79,35,87,125.463335,2930.798145,0,-8.683,undefined,avg_less
1,N39662076X,F17991047v,J1A,2020-03-16,4.36,16,36,63.275887,472.946034,0,-37.196,undefined,avg_less
2,R39462885w,l36861534V,m1v,2020-01-20,2.20,5,47,73.000000,283.626484,0,3.378,undefined,avg_more
3,q32765597m,R16189354h,v1q,2020-02-24,2.82,10,31,76.838507,100.743738,0,14.758,undefined,avg_less
4,n30214850g,N-1839822D,p1h,2020-01-31,3.54,17,26,53.000000,268.451947,0,21.179,undefined,avg_less

## –°—Ç–µ–ø 1Ô∏è‚É£4Ô∏è‚É£: üß† –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –∏ —Ä–µ–¥–∞–∫—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü
–ó–∞–¥–∞—á–∞
- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ –∏ –∑–∞–ø–∏—à–∏—Ç–µ —ç—Ç–æ –≤ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü `nans_num`.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –±–æ–ª—å—à–µ `2`.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ `age` –∏–º–µ–µ—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è.
- –ó–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ `user_time_accident` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º.
- –û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Å—Ç–æ–ª–±—Ü—ã `age`, `user_rides`, `user_time_accident`.
- –†–µ—à–µ–Ω–∏–µ –∑–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `result`.

In [169]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14.csv', index_col=0)
df.head(3)

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,36.0,8.1,907.0,NaN,t47293129J,0,2020-10-9
1,32.0,8.3,343.0,15.0,C20968936W,0,NaN
2,NaN,8.4,1485.0,16.0,O67053864f,0,2021-6-6

In [173]:
df['nans_num'] = df.isna().sum(axis=1)
df = df.drop(index=df[df['nans_num'] > 2].index)
df = df.dropna(subset=['age'])
df['user_time_accident'] = df['user_time_accident'].fillna(df['user_time_accident'].median())
selected_cols = ['age', 'user_rides', 'user_time_accident']
df = df[selected_cols]
result = df

In [166]:
# –í ans —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Å–≤–æ–µ–≥–æ —Ä–µ—à–µ–Ω–∏—è, —Å—Ä–∞–≤–Ω–∏—Ç–µ—Å—å —Å –Ω–∏–º.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14_ans.csv', index_col=0)
ans.head()

    age  user_rides  user_time_accident
0  36.0       907.0                10.0
1  32.0       343.0                15.0
3  32.0       852.0                 5.0
4  34.0       344.0                10.0
5  35.0      1124.0                 3.0