# <center> 3.1.8 - Pretty pandas, tqdm, pandarallel</center>

### Несколько полезных настроек интерфейса `Pandas`, которые чаще всего пригождаются в работе.

In [1]:
import pandas as pd

In [2]:
# Возьмем 2 датасета rides_info и car_train
rides_info = pd.read_csv('../data/rides_info.csv')
car_train = pd.read_csv('../data/car_train.csv')
rides_info.head(2)
car_train.head(2)
# Вывелся только последний датасет

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug

In [3]:
# Если воспользоваться функцией print, то результат тоже не порадует
print(rides_info.head(2))
car_train.head(2)
# Видно, что первый датасет вывевелся в нечитабельном формате

      user_id      car_id ride_id   ride_date  rating  ride_duration  \
0  o52317055h  A-1049127W     b1v  2020-01-01    4.95             21
1  H41298704y  A-1049127W     T1U  2020-01-01    6.91              8

   ride_cost  speed_avg   speed_max  stop_times    distance  refueling  \
0        268         36  113.548538           0  514.246920          0
1         59         36   93.000000           1  197.520662          0

   user_ride_quality  deviation_normal
0           1.115260             2.909
1           1.650465             4.133

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug

Для такого случая есть специальная функция `display`, которая выводит датафрейм в привычном формате, и позволяет не множить ячейки:

In [4]:
from IPython.display import display # импортируем метод display для вывода таблиц

display(rides_info.head(2))
display(car_train.head(2))
rides_info.shape, car_train.shape

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.548538,0,514.246920,0,1.115260,2.909
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.000000,1,197.520662,0,1.650465,4.133

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug

((739500, 14), (2337, 10))

In [5]:
# Объединим датасеты
rides_info = rides_info.merge(car_train, on = 'car_id', how = 'left')
rides_info.head()
# Видно, что отобразились не все столбцы - появилось многоточие в середине
# Также во float столбцах выводятся все знаки после запятой, что не всегда нужно и информативно

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,...,deviation_normal,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.548538,0,...,2.909,Hyundai Solaris,economy,petrol,4.68,2011.0,1990.0,2016.0,46.28,engine_overheat
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.000000,1,...,4.133,Hyundai Solaris,economy,petrol,4.68,2011.0,1990.0,2016.0,46.28,engine_overheat
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.959675,0,...,2.461,Hyundai Solaris,economy,petrol,4.68,2011.0,1990.0,2016.0,46.28,engine_overheat
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.000000,0,...,0.909,Hyundai Solaris,economy,petrol,4.68,2011.0,1990.0,2016.0,46.28,engine_overheat
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.000000,1,...,-1.822,Hyundai Solaris,economy,petrol,4.68,2011.0,1990.0,2016.0,46.28,engine_overheat

In [6]:
# Установим опции, которые помогут привести таблицу к желаемому виду
pd.set_option('display.max_columns', None) # реализуем возможность вывода всех столбцов на экран 
pd.set_option('display.float_format', '{:.3f}'.format) # реализуем возможность вывода значений float до 3 знаков после запятой

rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,o52317055h,A-1049127W,b1v,2020-01-01,4.950,21,268,36,113.549,0,514.247,0,1.115,2.909,Hyundai Solaris,economy,petrol,4.680,2011.000,1990.000,2016.000,46.280,engine_overheat
1,H41298704y,A-1049127W,T1U,2020-01-01,6.910,8,59,36,93.000,1,197.521,0,1.650,4.133,Hyundai Solaris,economy,petrol,4.680,2011.000,1990.000,2016.000,46.280,engine_overheat
2,v88009926E,A-1049127W,g1p,2020-01-02,6.010,20,315,61,81.960,0,1276.328,0,2.599,2.461,Hyundai Solaris,economy,petrol,4.680,2011.000,1990.000,2016.000,46.280,engine_overheat
3,t14229455i,A-1049127W,S1c,2020-01-02,0.260,19,205,32,128.000,0,535.681,0,3.216,0.909,Hyundai Solaris,economy,petrol,4.680,2011.000,1990.000,2016.000,46.280,engine_overheat
4,W17067612E,A-1049127W,X1b,2020-01-03,1.210,56,554,38,90.000,1,1729.143,0,2.717,-1.822,Hyundai Solaris,economy,petrol,4.680,2011.000,1990.000,2016.000,46.280,engine_overheat

Существует ещё множество полезных опций в Pandas, с которыми можно ознакомиться в [документации](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html). Здесь мы привели основные, которыми постоянно пользуемся сами. <br>
Обычно опции выставляются вместе с импортом пандаса, в одном смысловом блоке:

In [7]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_columns', None) 
pd.set_option('display.float_format', '{:.3f}'.format)

import warnings
warnings.filterwarnings("ignore") # также бывает полезно отключать предупреждения pandas и других фреймворков, особенно, при работе с прогресс-барами
# но это палка о двух концах: можете пропустить важное предупреждение и не исправить его, и потом долго искать ошибку по коду.
# отключайте warnings, если точно уверены в своих действиях

## <center>`tqdm` - библиотека, добавляющая в вывод ячеек прогресс-бары.</center>

In [8]:
from tqdm.notebook import tqdm # Импортируем tqdm
import time

In [9]:
# Возьмем датасет car_train
car_info = pd.read_csv('../data/car_train.csv')
print(car_info.shape)
car_info.sample(5)

(2337, 10)

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
1220,T10888967t,Mini Cooper,business,petrol,4.000,2011,60,2019,31.370,engine_overheat
1489,g42249929i,Skoda Rapid,economy,petrol,4.640,2015,92111,2016,31.290,gear_stick
1643,O-1332601s,Renault Sandero,standart,petrol,5.700,2015,91995,2018,61.900,engine_ignition
164,P14343623p,Skoda Rapid,economy,petrol,4.320,2013,39955,2016,43.510,electro_bug
1621,t-1802527u,Smart ForTwo,economy,petrol,4.360,2013,36344,2018,31.960,engine_fuel

In [10]:
car_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         2337 non-null   object
 1   model          2337 non-null   object
 2   car_type       2337 non-null   object
 3   fuel_type      2337 non-null   object
 4   car_rating     2337 non-null   float64
 5   year_to_start  2337 non-null   int64
 6   riders         2337 non-null   int64
 7   year_to_work   2337 non-null   int64
 8   target_reg     2337 non-null   float64
 9   target_class   2337 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 182.7+ KB

Напишем функцию, которая будет хранить столбцы датафрейма в оптимальных типах, что может существенно уменьшить объём потребляемой памяти.

In [11]:
def optimize_df(df):
    types = list()
    for x in df.dtypes.tolist():
        if x=='int64':
            types.append('int16')
        elif x=='float64':
            types.append('float32')
        else:
            types.append('object')
    types = dict(zip(df.columns.tolist(),types))
    return df.astype(types)

In [12]:
# Запустим на нашем датасете
car_info = optimize_df(car_info)

Непонятно отработала функция или нет и сколько ждать до её окончания? Особенно актуально на больших датасетах с тысячами столбцов. <br> 
Добавим прогресс бар.

In [13]:
def progress_optimize_df(df):
    types = list()
    for x in tqdm(df.dtypes.tolist()):
        if x=='int64':
            types.append('int16')
        elif x=='float64':
            types.append('float32')
        else:
            types.append('object')
        time.sleep(1) # добавим паузу 1сек. для наглядности

    types = dict(zip(df.columns.tolist(),types))
    return df.astype(types)

In [14]:
car_info = pd.read_csv('../data/car_train.csv')
car_info = progress_optimize_df(car_info)

  0%|          | 0/10 [00:00<?, ?it/s]

In [15]:
car_info.info() # Объем занимаемой памяти уменьшился на 30%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         2337 non-null   object
 1   model          2337 non-null   object
 2   car_type       2337 non-null   object
 3   fuel_type      2337 non-null   object
 4   car_rating     2337 non-null   float32
 5   year_to_start  2337 non-null   int16
 6   riders         2337 non-null   int16
 7   year_to_work   2337 non-null   int16
 8   target_reg     2337 non-null   float32
 9   target_class   2337 non-null   object
dtypes: float32(2), int16(3), object(5)
memory usage: 123.4+ KB

Теперь, допустим, мы захотели проитерироваться по всему нашему датасету и посчитать сколько было водителей на всех машинах за все время.

In [16]:
riders = 0
for ind, row in tqdm(car_info.iterrows()):
    time.sleep(0.01)
    riders += row['riders']

0it [00:00, ?it/s]

Видно, что функция не знает сколько всего будет объектов и сколько времени осталось до конца тоже посчитать не может. Так как <code>iterrows()</code>
выдает ряд датафрейма и его индекс. <br>
Для такого случая в функции <code>tqdm()</code> есть параметр <code>total</code>, в который передадим длину последовательности.

In [17]:
riders = 0
for ind, row in tqdm(car_info.iterrows(), total=len(car_info)):
    riders += row['riders']
    time.sleep(0.01)
riders
# теперь прогресс-бар отображается как нужно

  0%|          | 0/2337 [00:00<?, ?it/s]

2879436

Если присутствует вложенный цикл и в каждый из них добавить обычный прогресс бар - получится не слишком красиво:

In [18]:
for i in tqdm(range(4)):
    for j in tqdm(range(100)):
        time.sleep(0.01)

  0%|          | 0/4 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

Следует использовать функцию `notebook.trange` для компактного отображения

In [19]:
import tqdm

for i in tqdm.notebook.trange(4, desc='Loop 1'):
    for j in tqdm.notebook.trange(100, desc='Loop 2'):
        time.sleep(0.01)

Loop 1:   0%|          | 0/4 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

In [20]:
# Можно ещё компактнее, добавим параметр leave=False
for i in tqdm.notebook.trange(4, desc='Loop 1'):
    for j in tqdm.notebook.trange(100, desc='Loop 2', leave=False):
        time.sleep(0.01)

Loop 1:   0%|          | 0/4 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

Loop 2:   0%|          | 0/100 [00:00<?, ?it/s]

In [21]:
from tqdm import tqdm

for i in tqdm(range(100)):
    time.sleep(0.01)

100%|██████████| 100/100 [00:01<00:00, 95.69it/s]

## <center> `progress_apply()`</center>

А теперь мы внезапно поняли, что название модели автомобиля очень информативный столбец и решили на его основе нагенерировать странных признаков:

In [22]:
car_info['char_count'] = car_info['model'].apply(len)
car_info['word_count'] = car_info['model'].apply(lambda x: len(x.split()))
car_info['different_words'] = car_info['model'].apply(lambda x: len(set(x.split())))
car_info['title_word_count'] = car_info['model'].apply(lambda x: len([wrd for wrd in x.split() if wrd.istitle()]))
car_info['upper_case_word_count'] = car_info['model'].apply(lambda x: len([wrd for wrd in x.split() if wrd.isupper()]))
car_info['is_bmw'] = car_info['model'].apply(lambda x: 1 if 'BMW' in x else 0)
car_info['is_kia'] = car_info['model'].apply(lambda x: 1 if 'Kia' in x else 0)
car_info['is_smart'] = car_info['model'].apply(lambda x: 1 if 'Smart' in x else 0)

Снова непонятно сколько ждать и идет ли процесс. Давайте добавим прогресс-бар прямо в пандас. <br> Для этого немного по другому импортируем и инициализируем функцию <code>tqdm()</code>

In [23]:
from tqdm import tqdm
tqdm.pandas()

#и просто заменяем apply() на progress_apply(), тоже самое можно сделать для df.map()
car_info['char_count'] = car_info['model'].progress_apply(len)
car_info['word_count'] = car_info['model'].progress_apply(lambda x: len(x.split()))
car_info['different_words'] = car_info['model'].progress_apply(lambda x: len(set(x.split())))
car_info['title_word_count'] = car_info['model'].progress_apply(lambda x: len([wrd for wrd in x.split() if wrd.istitle()]))
car_info['upper_case_word_count'] = car_info['model'].progress_apply(lambda x: len([wrd for wrd in x.split() if wrd.isupper()]))
car_info['is_bmw'] = car_info['model'].progress_apply(lambda x: 1 if 'BMW' in x else 0)
car_info['is_kia'] = car_info['model'].progress_apply(lambda x: 1 if 'Kia' in x else 0)
car_info['is_smart'] = car_info['model'].progress_apply(lambda x: 1 if 'Smart' in x else 0)
car_info # проверим, что новые признаки появились

100%|██████████| 2337/2337 [00:00<00:00, 303573.61it/s]
100%|██████████| 2337/2337 [00:00<?, ?it/s]
100%|██████████| 2337/2337 [00:00<00:00, 1165805.00it/s]
100%|██████████| 2337/2337 [00:00<00:00, 977666.91it/s]
100%|██████████| 2337/2337 [00:00<00:00, 668947.55it/s]
100%|██████████| 2337/2337 [00:00<00:00, 567217.66it/s]
100%|██████████| 2337/2337 [00:00<00:00, 1331986.47it/s]
100%|██████████| 2337/2337 [00:00<?, ?it/s]

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class,char_count,word_count,different_words,title_word_count,upper_case_word_count,is_bmw,is_kia,is_smart
0,y13744087j,Kia Rio X-line,economy,petrol,3.780,2015,10627,2021,108.530,another_bug,14,3,3,2,0,0,1,0
1,O41613818T,VW Polo VI,economy,petrol,3.900,2015,12682,2021,35.200,electro_bug,10,3,3,1,2,0,0,0
2,d-2109686j,Renault Sandero,standart,petrol,6.300,2012,23340,2017,38.620,gear_stick,15,2,2,2,0,0,0,0
3,u29695600e,Mercedes-Benz GLC,business,petrol,4.040,2011,1263,2020,30.340,engine_fuel,17,2,2,1,1,0,0,0
4,N-8915870N,Renault Sandero,standart,petrol,4.700,2012,26428,2017,30.450,engine_fuel,15,2,2,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2332,j21246192N,Smart ForFour,economy,petrol,4.380,2017,-9833,2018,25.480,wheel_shake,13,2,2,1,0,0,0,1
2333,h-1554287F,Audi A4,premium,petrol,4.300,2016,-23279,2020,69.260,engine_check,7,2,2,2,1,0,0,0
2334,A15262612g,Kia Rio,economy,petrol,3.880,2015,14698,2019,46.030,gear_stick,7,2,2,2,0,0,1,0
2335,W-2514493U,Renault Sandero,standart,petrol,4.500,2014,-5488,2020,77.190,another_bug,15,2,2,2,0,0,0,0
2336,z-1337463D,VW Polo,economy,petrol,3.940,2015,26776,2016,54.680,engine_check,7,2,2,1,1,0,0,0

## <center>`pandarallel` - ускоряем pandas в N раз</center>

Допустим мы написали функцию для генерации нового признака со сложной логикой, которая долго выполняется (сейчас заменим её паузой)

In [24]:
# посчитаем количество лет эксплуатации автомобиля на 2022 год
def get_car_age(x):
    time.sleep(0.01)
    return 2022 - x

In [25]:
%%time
car_info['car_age'] = car_info['year_to_start'].progress_apply(get_car_age)

100%|██████████| 2337/2337 [00:24<00:00, 95.01it/s]

CPU times: total: 109 ms
Wall time: 24.6 s

А теперь давайте ускорим генерацию признака в `n` раз (`n` - количество ядер процессора), в нашем случае `n=4`.

In [ ]:
# !pip install pandarallel

Requirement already satisfied: pandarallel in c:\users\pong\anaconda3\envs\ml\lib\site-packages (1.6.5)
Requirement already satisfied: dill>=0.3.1 in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from pandarallel) (0.3.8)
Requirement already satisfied: pandas>=1 in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from pandarallel) (2.2.2)
Requirement already satisfied: psutil in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from pandarallel) (5.9.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from pandas>=1->pandarallel) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from pandas>=1->pandarallel) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from pandas>=1->pandarallel) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from pandas>=1->pandarallel) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pong\anaconda3\envs\ml\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1->pandarallel) (1.16.0)

In [32]:
# импортируем библиотеку pandarallel и инициализируем её
from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True, nb_workers=4)

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [33]:
# %%time
# запускаем генерацию нашего признака в 4 потока, заменяя progress_apply() на parallel_apply()
car_info['car_age'] = car_info['year_to_start'].parallel_apply(get_car_age)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=585), Label(value='0 / 585'))), HB…

NameError: name 'time' is not defined

С 23 сек, время уменьшилось до 6 сек.

Библиотека `pandarallel` позволяет задействовать все доступные ядра процессора для параллельных вычислений. <br>
**Важное замечание:** `pandarallel` может использоваться для простых чистых функций. Если функции содержат в себе вызовы других функций или использование сложных фреймворков, то не всегда их удасться распараллелить. Можно экспериментировать! <br>
Также можно распараллелить и другие функции из `pandas`, полный список можно найти на <a href='https://nalepae.github.io/pandarallel/'> Github</a> проекта:

<img src="https://habrastorage.org/r/w1560/webt/14/rx/cd/14rxcddfc9lms2sdubj9h7zgykm.png">